<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034168715689-h5q7p3v5bjuisq799tmamh2akc34i0o4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034168715689-h5q7p3v5bjuisq799tmamh2akc34i0o4</string>
	<key>API_KEY</key>
	<string>AIzaSyCebYx_ha5ewqdRTt9RP1amCo0AW-lZxFw</string>
	<key>GCM_SENDER_ID</key>
	<string>1034168715689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zagel</string>
	<key>PROJECT_ID</key>
	<string>zageel</string>
	<key>STORAGE_BUCKET</key>
	<string>zageel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034168715689:ios:a8772607b4e1cb4e6a5cb8</string>
</dict>
</plist>